.main {
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal centering */
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: #1a6925; /* optional */
  color: #c1e6ca;
}